.alert {
    position:absolute;
    top: 20%;
    left: 0%;
    margin-left: 25%;
    margin-top: 0%;
    width: 50%;
    height: 40%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 5%;
    padding-top: 1%;
    padding-left: 1%;
    border: solid gray 1px;
}

.alert-icon {
    background-image: url(../../img/icones/declin.png);
    background-position: center;
    background-size: cover;
 
    width: 15%;
    height: 38%;
    border-radius: 10%;
    margin-top: 5%;
    margin-left: 40%;
   
}

.alert .alert-message {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
}

.cross-alert {
    position: relative;
    width: 3%;
    height: 6%;
    top: 1%;
    left: 1%;
    background-image: url(../../../styles/img/icones/cross.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.alert-message {
    color: red;
}