
.cross {
    position: relative;
    width: 4%;
    height: 5%;
    top: 2%;
    left: 2%;
    background-image: url(../../../styles/img/icones/cross.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border-radius: 50%;
}