.loading-content {
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
    padding-top: 5%;
}

.loading-title{
    position: absolute;
    color: white;
    font-size: 50px;
    width: 40%;
    margin-left: 30%;
    margin-top: 25%; 
}

.loading-title{
    position: absolute;
    color: white;
    font-size: 50px;
    width: 40%;
    margin-left: 30%;
    margin-top: 25%; 
}

.loading-titleA{
    position: absolute;
    color: white;
    font-size: 65px;
    width: 40%;
    margin-left: 30%;
    margin-top: 22%; 
}

.loading-titleB{
    position: absolute;
    color: white;
    font-size: 40px;
    width: 40%;
    margin-left: 30%;
    margin-top: 30%; 
}

.loading-content button{
    position: absolute;
    color: white;
    font-size: 22px;
    width: 10%;
    margin-left: 45%;
    margin-top: 37%; 
}

.p-qr {
    color: white;
    text-align: center;
    margin-top: 3%;
} 

