.loading-contents {
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
    padding-top: 5%;
}




.form-newsettings {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
    border: solid black 1px;
    border-radius: 2%;
    width: 50%;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-family: Arial Narrow, sans-serif;
    justify-content: space-around;
}

.list_match {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listButton {
    position: relative;
    color: white;
    background-color: rgb(0, 85, 255);
    font-size: 150%;
    white-space:nowrap;
    border-style: solid black;
    border-radius: 20px;
    text-align: center;
    font-family: Arial Narrow, sans-serif;
    z-index : 5;
    list-style: none;
    width: 50%;
    margin-bottom: 10px;
}

.SingleButtons{
    color: white;
    background-color: rgb(0, 85, 255);
    font-size: 100%;
    width: 50%;
    white-space:nowrap;
    border-style: solid black 1px;
    border-radius: 20px;
    text-align: center;
    z-index: 1;
    height: 50px;
}

.MultiButtons{
    color: white;
    background-color: rgb(0, 85, 255);
    font-size: 100%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    border-style: solid black;
    border-radius: 20px;
    height: 50px;
}