.Navbar {
    height: 30px;
    text-decoration: none;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-bottom: 5%;
    padding-top: 1%;
    padding-right: 2%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
   
}

.nav_link {
    text-decoration: none;
    margin-right: 80px;
    font-size: 120%;
    color: black
}

.profil-icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-image: url(../../../styles/img/icones/profil.png);
    background-position: center;
    background-size: cover;
}

.home-icon {
    width: 42px;
    height: 42px;
    margin-left: 20px;
    background-image: url(../../../styles/img/icones/accueil.png);
    background-position: center;
    background-size: cover;
}

.chat-icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-image: url(../../../styles/img/icones/messenger.png);
    background-position: center;
    background-size: cover;
}

.game-icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-image: url(../../../styles/img/icones/controle-du-jeu-2.png);
    background-position: center;
    background-size: cover;
}

.logout-icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-image: url(../../../styles/img/icones/logout.png);
    background-position: center;
    background-size: cover;
}

.avatar {
    position: absolute;
    top: 5%;
    left: 1%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background-position: center;
    background-size: cover;
    border-radius: 60%;
    border: 1px black solid;
}

.navbar-brand {
    color: yellow;
}

@media only screen and (max-width: 991px) {
    .Navbar {
        height: 60px;
    }

    .nav_link {
        margin: auto;
    }
    
}