.newavatar-content{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 20%;
    height: 34%;
    padding-top: 2%;
    border-radius: 3%;
    border: solid gray 1px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
}

.newavatar-content input{
    width: 80%;
    margin-top: 6%;
    margin-left: 10%;
    margin-bottom: 2%;
    height: 18%;
    font-size: 12px;
} 

.newavatar-content button{
    width: 30%;
    height: 18px;
    padding: 0%;
   font-size: 12px;
   margin-left: 35%;
}
 
