.auth-form {
    width: 40%;
    /* position: relative; */
    position: absolute;
    display: inline-block;
    /* max-width: 650px; */
    /* min-width: 300px; */
    height: 30%;
   
    padding-bottom: 3%;
    margin-left: 30%;
    border-radius: 2%;
    margin-top: 15%;
  
}

.auth-form input {

    width: 60%;
    height: 8%;
    background-color:white;
    margin-left: 20%;
    margin-bottom: 0%;
    margin-top: 5%;
    border-radius: 3%;
    border: solid gray 1px;
    text-align: center;
}

h1,h2 {
    text-align: center;
}

.auth-form h1 {
    padding-top: 2%;
    color: white;
    opacity: 70%;
    font-size: 450%;
    font-family: 'calvierregular';
}

.auth-form p {
    color: white;
    text-align: center;
    font-size: 120%;
}

.auth-form hr {
    width: 80%;
    color: white;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.auth-form button {
    display: block;
    width: 60%;
    height: 8%;
    margin-left: 20%;
    margin-top: 5%;
}

.sign button {
    width: 70px;
    height: 70px;
    margin: auto;
}

.logo42 {
    background-image: url(../../img/42logo.jpeg);
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 10%;
    margin: auto;
   
}