.custom-form {
    width: 50%;
    height: 80%;
    background: rgb(0,1,36);
    background: radial-gradient(circle, rgba(0,1,36,1) 0%, rgba(10,10,56,1) 91%);
    border: solid white 1px;

}

.vignette {
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 100%;
    background-image: url("https://cdn.intra.42.fr/users/sbouzidi.jpg");
    background-position: center;
    background-size: cover;
    border: solid blue 1px;
}

.custom-form input {
    width: 40%;
    margin-left: 30%;
    display: block;
}

.custom-form button {
    margin-top: 3%;
    width: 30%;
    margin-left: 35%;
}

.custom-form h2 {
    color: white;
}