.custom-form {
    width: 50%;
    height: 80%;
    background: rgb(80,81,135);
    background: radial-gradient(circle, rgba(80,81,135,1) 94%, rgba(59,61,136,1) 100%, rgba(10,10,56,1) 100%);
    border: solid white 1px;
    box-shadow: 20% 20% 20% 20%;
}

.vignette {
    width: 40%;
    height: 45%;
    margin-left: 30%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 100%;
    border: solid white 1px;
}

.custom-form input {
    width: 40%;
    margin-left: 30%;
    display: block;
}

.custom-form button {
    margin-top: 3%;
    width: 30%;
    margin-left: 35%;
}

.custom-form h2 {
    color: white;
}

.custom-form h3 {
    color: white;
    font-size: 140%;
    text-align: center;
}