.form-setting {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
    border: solid white 1px;
    border-radius: 2%;
    margin-left: 20%;
    width: 60%;
    height: 80%;
}

.vignette-form {
    width: 30%;
    height: 45%;
    margin-left: 35%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 100%;
    border: solid white 1px;
}

.form-setting .set-avatar {
    position: relative;
    width: 7%;
    height: 10%;
    top: -15%;
    left: 12%;
    background-image: url(../../styles/img/icones/camera.png);
    background-position: center;
    background-size: cover;
    border: solid white 2px;
    border-radius: 80%;
    margin-left: 40%;
}

.form-setting .set-nickname {
    position: relative;
    width: 6%;
    height: 7%;
    top: -9%;
    left: 25%;
    background-image: url(../../styles/img/icones/modif.png);
    background-position: center;
    background-size: cover;
    
    border-radius: 80%;
    margin-left: 40%;
}

.set-avatar :hover {
    position: relative;
    width: 7%;
    height: 10%;
    top: -15%;
    left: 12%;
    background-image: url(../../styles/img/icones/camera.png);
    background-position: center;
    background-size: cover;
    border: solid blue 2px;
    border-radius: 10%;
    margin-left: 40%;
}

.form-setting button {
    width: 20%;
    margin-left: 40%;
}

.form-setting h2 {
    color: goldenrod;
    border: solid white;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 2%;
}

.form-setting input {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
    color: goldenrod;
    border: solid white;
    width: 30%;
    height: 6%;
    margin-left: 35%;
    margin-bottom: 2%;
}