.profilCard-content {
    width: 30%;
    height: 85%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
    margin-right: 1%;
    border-radius: 2%;
    border: solid 1px white;
    opacity: 80%;
}

.profilCard-content h2 {
    color: goldenrod;
}

.profilCard-content p {
    color: white;
    text-align: center;
    font-size: 120%;
}


.vignette-card {

    width: 60%;
    height: 40%;
    margin-top: 5%;
    margin-left: 20%;
    background-image: url(../img/avatar.png);
    background-position: center;
    background-size: contain;
    border: solid white 2px;
    border-radius: 9%;
}

.set-avatar {
    position: relative;
    width: 15%;
    height: 10%;
    top: -7%;
    left: 10%;
    background-image: url(../../styles/img/icones/camera.png);
    background-position: center;
    background-size: cover;
    border: solid white 2px;
    border-radius: 80%;
    margin-left: 40%;
}