.message {
    color: white;
    position: relative;
    font-size: 200%;
    left : 30%;
    top : 30%;
}

.timer {
    color: white;
    position: relative;
    font-size: 200%;
    left : 40%;
    top : 35%;
}

.form-newsetting {
    position: relative;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
    border: solid black 1px;
    border-radius: 2%;
    margin-left: 25%;
    margin-top: 4%;
    width: 50%;
    height: 80%;
    padding: 10%;
    padding:0%;
    border:0%;
}

.form-game {
    position: relative;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
    border: solid gray 1px;
    border-radius: 2%;
    margin-left: 25%;
    width: 50%;
    height: 85%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.form-game h1 {
    padding-top: 2%;
    color: blueviolet;
    opacity: 70%;
    font-size: 210%;
    font-family: 'calvierregular';
    margin-bottom: 5%;
}

.form-game h2 {
    color: white;
    opacity: 70%;
  
}

.form-game h3 {
    color: white;
    opacity: 70%;
    text-align: center;
    font-size: 32px;
    margin-top: 10%;
    margin-bottom: 6%;
}

.form-game p {
    color: white;
    opacity: 70%;
    margin-left: 3%;
    font-size: 22px;
}


@media only screen and (max-width: 1000px) {
    .message {
        color: white;
        position: relative;
        font-size: 150%;
        left : 20%;
        top : 30%;
    }

    .timer {
        color: white;
        position: relative;
        font-size: 150%;
        left : 35%;
        top : 35%;
    }

}
@media only screen and (max-width: 700px) {
    .message {
        color: white;
        position: relative;
        font-size: 130%;
        left : 10%;
        top : 30%;
    }

    .timer {
        color: white;
        position: relative;
        font-size: 150%;
        left : 25%;
        top : 35%;
    }

}