.auth-content {
    display: flex;
    width: 100%;
    height: 100vh;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-field {

    width: 100%;
    background: rgb(0,1,36);
    background: radial-gradient(circle, rgba(0,1,36,1) 0%, rgba(10,10,56,1) 91%);
}


.picture {
    width: 50%;
    background: rgb(0,1,36);
    background: radial-gradient(circle, rgba(0,1,36,1) 0%, rgba(10,10,56,1) 91%);
}


.auth-form {
    width: 80%;
    height: 80%;
   
    padding-bottom: 3%;
    margin-left: 10%;
    margin-top: 10%;
 
}

.auth-form input {

    width: 60%;
    height: 8%;
    background-color:white;
    margin-left: 20%;
    margin-bottom: 0%;
    margin-top: 5%;
    border-radius: 3%;
    border: solid gray 1px;
    text-align: center;
}

h1,h2 {
    text-align: center;
}

.auth-form h1 {
    padding-top: 2%;
    color: yellow;
    opacity: 70%;
    font-family: 'calvierregular';
}

@media only screen and (max-width: 1000px) {
    .auth-form h1 {
        margin-top: 30%;
        width: 100%;
        margin-left: 0%;
        padding-top: 20%;
    color: yellow;
    opacity: 70%;
    font-family: 'calvierregular';
    }
}

.auth-form p {
    color: white;
    text-align: center;
    font-size: 120%;
}

.auth-form hr {
    width: 80%;
    color: white;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.auth-form button {
    display: block;
    width: 60%;
    height: 8%;
    margin-left: 20%;
    margin-top: 5%;
}

.sign button {
    width: 50px;
    height: 50px;
    margin: auto;
}

.logo42 {
    background-image: url(../img/42logo.jpeg);
    background-size: cover;
    background-position: center;
    width: 10%;
    height: 10%;
    margin: auto;
   
}

.demo {
    margin-left: 80%;
    margin-top: 2%;
}

@font-face {
    font-family: 'calvierregular';
    src: url('../../fonts/main_title/calvier.woff') format('woff2'),
         url('../../fonts/main_title/calvier.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}