.chat-content {
    height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;  
    padding-bottom: 2%;  
    padding-left: 1%;
    padding-right: 1%;
}

@media only screen and (max-width: 1000px) {
    .chat-content {
        height: 100%;
        width: 100vw;
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
        display: flex;
        flex-direction: column;  
        align-items: center;
        padding-bottom: 2%;  
        padding-left: 1%;
        padding-right: 1%;
    }
 }

.chat-content h2 {
    color: white;
}

.chat-content hr {
    color: white;
    height: 3px;
}

.alert-message {
    color: red;
}