
.visual{
	margin:0%, auto;
	height: 100vw;
	background-color: rgb(60, 201, 95);
}

.gameCanvas {
	/*height: 35vw;*/
	top : 10%;
	padding: 0;
	margin: auto; 
	display: block;
	background: linear-gradient(90deg, rgb(62, 162, 81), rgb(23, 44, 162));
}

.scorePlayer1 {
	color: red;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scorePlayer2 {
	color: red
}