.messages-content {
    background-color:white;
    border: solid black 1px;
    margin-top: 1%;
    margin-right: 1%;
    width: 50%;
    height: 99%;
    border-radius: 2%;
 }

 @media only screen and (max-width: 1000px) {
    .messages-content {
        margin-bottom: 3%;
        background-color:white;
        border: solid black 1px;
        margin-top: 1%;
        margin-right: 1%;
        width: 70%;
        height: 99%;
        border-radius: 2%;
     }
 }
 
 .conversation {
     height: 82%;
     width: 100%;
    overflow-y: scroll;
 }

 @media only screen and (max-width: 1000px) {
    .conversation {
        height: 60vh;
        width: 100%;
       overflow-y: scroll;
    }
 }

 .room-title {
 background: rgb(2,0,36);
 background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
  height: 8%;
  border-radius: 2%;
  display: flex;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

@media only screen and (max-width: 1000px) {
    .room-title {
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
         height: 20%;
         border-radius: 2%;
         display: flex;
         padding-top: 2%;
         padding-left: 20%;
         padding-right: 20%;
       }
 }

.room-title h2 {
  width: 80%;
}

 .send-zone {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
     height: 10%;
     padding-top: 2%;
 }
 
 
 .messages-content input {
     width: 70%;
     height: 40px;
     margin-left: 10%;
     margin-right: 1%;
     border-radius: 2%;
 }
 
 .messages-content button {
     height: 40px;
     padding: 0%;
     width: 15%;
     display: inline;
 }

 .room-picture {
    background-image: url(../../../styles/img/icones/exit.png);
    background-position: center;
    background-size: cover;
    width: 7%;
    height: 80%;
    margin-left: 2%;
    cursor: pointer;
 }

 .room-settings {
    background-image: url(../../../styles/img/icones/setting.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-top: 1%;
    width: 30px;
    height: 30px;
    cursor: pointer;
 }

 .buble-zone {
    width: 100%;
    display: inline-block;
    display: flex;
    padding-right: 2%;
    padding-left: 2%;
}

 .message-bubleA {

    width: 30%;
    margin-left: 1%;
    margin-top: 2%;
    border-radius: 12%;
    padding-right: 2%;
    padding-left: 2%;
   
}

.message-bubleA p {
   
    color: white;
    margin-bottom: 2%;
   word-wrap: break-word;  
}

.avatar-buble {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 2%;
}

