.addMember {
        position:relative;
        top: 3%;
        margin-left: 0%;
        margin-right: 500px;
        margin-top: 0%;
        width: 150px;
        height: 138px;
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
        border-radius: 5%;
        padding-top: 1%;
        padding-left: 1%;
}