.addMember {
        position:absolute;
        top: 8%;
        left: 0%;
        margin-left: 25%;
        margin-top: 0%;
        width: 50%;
        height: 90%;
     
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
        border-radius: 5%;
        padding-top: 1%;
        padding-left: 1%;
        border: solid gray 1px;
}

@media only screen and (max-width: 1000px) {
    .addMember {
        position:absolute;
        top: 15%;
        left: 0%;
        margin-left: 15%;
        margin-top: 0%;
        width: 70%;
        height: 70%;
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
        border-radius: 5%;
        padding-top: 1%;
        padding-left: 1%;
        border: solid gray 1px;
}

}

.addMember .btn-primary {

    width: 20%;
    margin-left: 40%;
    margin-top: 4%;
}

.addMember p {
    color: blueviolet;
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
}

.membertoadd {

    width: 80%;
    height: 75%;
    border: solid gray 1px;
    margin-left: 10%;
    margin-top: 5%;
    overflow-y:scroll;
    border-radius: 3%;
}

.membertoadd::-webkit-scrollbar {
    width: 9px; /* width of the entire scrollbar */
    background-color: blueviolet;
}

.membertoadd-case {

    width: 100%;

    display: inline-block;
    border: solid gray 1px;
    display: flex;
    padding-left: 2%;
    padding-right: 4%;

}


.membertoadd-case h2 {
    margin-top: 5%;
    margin-left: 7%;
    width: 8%;
    margin-right: 17%;
    font-size: 20px;
}


.membertoadd-case .btn {
    margin-bottom: 4%;
    margin-left: 6%;
    width: 20%;
    height: 20px;
    padding: 0%;
    margin-top: 6%;
    margin-right: 0%;
    font-size: 12px;
}

.membertoadd-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}