.privateAccess {
    position:absolute;
    display: inline-block;
    margin-left: 25%;
    margin-top: 0%;
    width: 50%;
    height: 35%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 5%;
    padding-top: 1%;
    padding-left: 1%;
}

.privateAccess label {
    color: white;
    margin-top: 4%;
    margin-left: 2%;
}

.privateAccess input {
    margin-top: 2%;
    width: 40%;
    margin-left: 28%;
    text-align: center;
}

.privateAccess button {
    margin-top: 3%;
    width: 25%;
    margin-left: 35%;
}

.cross-private {
    position: relative;
    width: 4%;
    height: 8%;
    top: 1%;
    left: 1%;
    background-image: url(../../../styles/img/icones/cross.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.error {
    color: red;
}