.addroom-content {
    position:absolute;
    margin-left: 25%;
    margin-top: -7%;
    width: 50%;
    height: 85%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 2%;
    padding-bottom: 8%;
    border: solid gray 1px;
}

@media only screen and (max-width: 1000px) {
    .addroom-content {
        position:absolute;
        margin-left: 0%;
        margin-top: 0%;
        width: 70%;
        height: 65%;
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
        border-radius: 2%;
        padding-bottom: 8%;
        border: solid gray 1px;
    }

}

.addroom-content label {
    color: white;
    font-size: 20px;
    display: block;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-top: 2%;
}

.addroom-content .room-name {
    width: 40%;
    border-radius: 4%;
    margin-bottom: 3%;
    margin-left: 3%;
    height: 30px;
}

.addroom-content .room-type {
   margin-right: 55px;
   margin-left: 3%;
}


.addroom-content .btn-primary {
    position: relative;
    top: 16%;
    right: 7%;
    width: 30%;
    margin-top: 20%;
} 

.addroom-content span {
    color : white;
    margin-right: 2%;
    margin-left: 3%;
}

.group-avatar {
    width: 50px;
    height: 60px;
    margin-left: 45%;
    background-image: url(../../../styles/img/icones/groups.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.pass-label {
    margin-top: 0px;
    
}

.password-input {
    height: 30px;
    margin-left: 3%;
    
}

.pass-zone {
    height: 55px;
    
}

.addroom-content .password {

    margin-bottom: 4%;
}

.space {
    height: 50%;
    width: 100%;
}

.addroom-content p {
    color : red;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    font-size: 13px;
}