.rooms-content {
    margin-top: 1%;
    margin-right: 1%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
    width: 25%;
    height: 99%;
    border: solid black 1px;
    border-radius: 2%;
}

@media only screen and (max-width: 1000px) {
    .rooms-content {
        margin-top: 8%;
        margin-bottom: 3%;
        margin-right: 1%;
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
        width: 70%;
        height: 100%;
        border: solid black 1px;
        border-radius: 2%;
    }
 }

.rooms-content button {
    width: 15%;
    margin-left: 42%;
}

.rooms-content p {
    color: white;
    margin-left: 25%;
    margin-top: 3%;
    font-size: 20px;
}

.roomlist {
    display: flex;
    display: inline-block;
    flex-direction: column;
    width: 100%;
    height: 80%; 
    padding-top: 6%;
    overflow-y: scroll;
}

@media only screen and (max-width: 1000px) {
    .roomlist {
        display: flex;
        display: inline-block;
        flex-direction: column;
        width: 100%;
        height: 60vh; 
        padding-top: 6%;
        overflow-y: scroll;
    }
    
 }

.roomlist::-webkit-scrollbar {
    width: 9px; /* width of the entire scrollbar */
    background-color: blueviolet;
}

.room {
    display: flex;
    height: 12%;
    width: 100%;
    cursor: pointer;
    
}

@media only screen and (max-width: 1000px) {
    .room {
        display: flex;
        height: 20%;
        width: 100%;
        cursor: pointer;   
    }
 }

.room:hover {
    display: flex;
    height: 12%;
    width: 100%;
    background-color: blueviolet;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .room:hover {
        display: flex;
        height: 20%;
        width: 100%;
        background-color: blueviolet;
        cursor: pointer;
    }
 }

.room-infos {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.room-infos p {
    font-size: 16px;
    margin: 0px;
    text-align: center;
}

.room-tag {
    margin-bottom: 1%;
    margin-top: 1%;
    
}

.room-notif {
    margin-top: 1%;
    font-size: 2px;
}

.room-avatar {
    background-image: url(../../../styles/img/icones/groups.png);
    background-position: center;
    background-size: cover;
    width: 20%;
    height: 100%;
    margin-left: 2%;
}

@media only screen and (max-width: 1000px) {
    .room-avatar {
        background-image: url(../../../styles/img/icones/groups.png);
        background-position: center;
        background-size: cover;
        width: 12%;
        height: 80%;
        margin-left: 2%;
        margin-top: 1%;
        margin-right: 12%;
    } 
 }

.message-avatar {
    background-image: url(../../../styles/img/icones/messager2.png);
    background-position: center;
    background-size: cover;
    width: 18%;
    height: 90%;
    margin-left: 2%;
}


@media only screen and (max-width: 1000px) {
    .message-avatar {
        background-image: url(../../../styles/img/icones/messager2.png);
        background-position: center;
        background-size: cover;
        width: 12%;
        height: 80%;
        margin-left: 2%;
        margin-top: 1%;
    } 
 }

.waiting-avatar {
    background-image: url(../../../styles/img/icones/waiting-room-.png);
    background-position: center;
    background-size: cover;
    width: 18%;
    height: 80%;
    margin-top: 1%;
    margin-left: 2%;
}

@media only screen and (max-width: 1000px) {
    .waiting-avatar {
        background-image: url(../../../styles/img/icones/waiting-room-.png);
        background-position: center;
        background-size: cover;
        width: 10%;
        height: 70%;
        margin-left: 2%;
        margin-top: 2%;
    } 
 }

.fond1 {
    top:0%;
    left: 0%;
   position: absolute;
    width: 100%;
    height: 108%;
    background-color: black;
    opacity: 60%;
}

.roomcase {
    width: 100%;
    height: 100%;
    display: flex;
    border: solid black 1px;
    cursor: pointer;
}

