.room-settingsForm {
    position:absolute;
    top: 8%;
    left: 0%;
    margin-left: 25%;
    margin-top: 0%;
    width: 50%;
    display: inline-block;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 5%;
    padding-top: 1%;
    padding-left: 1%;
    border: solid gray 1px;

}

@media only screen and (max-width: 1000px) {
    .room-settingsForm {
        position:absolute;
        top: 20%;
        left: 0%;
        margin-left: 15%;
        margin-top: 0%;
        width: 70%;
        display: inline-block;
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,4,4,1) 100%, rgba(0,212,255,1) 100%);
        border-radius: 5%;
        padding-top: 1%;
        padding-left: 1%;
        border: solid gray 1px;
    
    }

}

.room-settingsForm h2 {
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
    margin-bottom: 4%;
}

.room-settingsForm  label {
    color: white;
    font-size: 20px;
    display: block;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-top: 2%;
}

.room-settingsForm .room-name {
    width: 40%;
    border-radius: 4%;
    margin-bottom: 3%;
    margin-left: 3%;
    height: 30px;
}

.room-settingsForm  .room-type {
    margin-right: 5px;
    margin-left: 3%;
    width: 20px;
    height: 20px;
 }

 .room-settingsForm .btn-primary {
    position: relative;
    top: 26%;
    right: 0%;
    left: 35%;
    width: 30%;
    margin-top: 10%;
    margin-bottom: 6%;
} 


 .room-settingsForm span {
    color : white;
    margin-right: 2%;
    margin-left: 3%;
}

.room-settingsForm p {
    color : red;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    font-size: 13px;
}

.room-settingsForm .password {

    margin-bottom: 4%;
}

 .room-settingsForm .password-input {
    height: 30px;
    margin-left: 0%;
    width: 40%;
    margin-left: 3%;
}

.cross-setting {
    position: relative;
    width: 20px;
    height: 20px;
    top: 1%;
    left: 1%;
    background-image: url(../../../styles/img/icones/cross.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}