.userchat-content {
    margin-top: 1%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
    width: 25%;
    height: 99%;
    border: solid black 1px;
    border-radius: 2%;
}

@media only screen and (max-width: 1000px) {
    .userchat-content {
        margin-top: 1%;
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(86,67,154,1) 100%, rgba(0,212,255,1) 100%);
        width: 70%;
        height: 80vh;
        border: solid black 1px;
        border-radius: 2%;
    }
 }

.userchat-content .add {
    width: 15%;
    margin-left: 42%;
    margin-bottom: 5%;
}

.online-list {

    width: 100%;
    height: 50%;
    overflow-y: scroll;
}

.online-list::-webkit-scrollbar {
    width: 9px; /* width of the entire scrollbar */
    background-color: blueviolet;
}

.user-block {
    height: 28%;
    width: 100%;
    border: solid 1px black;  
}

.user-block p {
    color: white;
    font-size: 17px;
    margin-bottom: 0px;
    margin-left: 42%;
}

.user-online {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    padding-bottom: 5%;
}

@media only screen and (max-width: 1000px) {
  
}


.online-avatar {
    width: 20%;
    height: 90%;
    margin-left: 2%;
    
    border-radius: 50%;
    border: solid blueviolet 1px;
    object-fit:cover;    
}

.user-online p {
    color: white;
    margin-left: 20%;
    margin-top: 4%;
}

p {
    text-decoration: none;
    
}

.user-icon-profil {
    background-image: url(../../img/icones/profil2.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 8%;
    height: 45%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 2%;
    cursor: pointer;
}

.user-icon-mess {
    background-image: url(../../img/icones/messager2.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 8%;
    height: 45%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 2%;
    cursor: pointer;
}

.user-icon-game {
    background-image: url(../../img/icones/versus.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 8%;
    height: 45%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 2%;
    cursor: pointer;
}

.user-icon-mute {
    background-image: url(../../img/icones/mute.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 8%;
    height: 45%;
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.user-icon-bloc {
    background-image: url(../../img/icones/bloque.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 8%;
    height: 45%;
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.user-icon-bloc {
    background-image: url(../../img/icones/bloque.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 8%;
    height: 45%;
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.online-notifs-title {
    color: white;
    font-size: 17px;
}
.online-notifs-list{
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}